.form-login{
    width: 300px;
    height: 470px;
    border:1px solid lightgray;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-error{
    color: red;
}
.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }