.form-login {
  width: 300px;
  height: 540px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 5px;
  margin-left: 400px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}
.cats-input {
  margin: 10px;
  padding: 10px;
}
.sellyourcat h2 {
  margin-top: 40px;
}
