.Homepage {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0 0 0.75rem white);
  display: flex;
  height: 400px;
  text-align: left;
}
.Homepage h1{
  margin-bottom: 20px;
  font-family: 'Neucha', cursive;
}
.Homepage h3{
  margin-bottom: 15px;
  font-family: 'Neucha', cursive;

}
.Homepage p{
  font-family: 'Neucha', cursive;
}
.gif {
  width: 200px;
  margin-left: 150px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem #0cdbf2);
}
.left {
  margin-top: 50px;
  margin-left: 40px;
}
.right {
  margin-left: 100px;
  margin-top: 70px;
}
.right h1{
  color: #0CDBF2
}
.homepage-button {
  color: white;
  background-color: #0cdbf2;
  border: 1px solid #0cdbf2;
  padding: 10px 25px;
  border-radius: 30px;
  font-family: 'Neucha', cursive;
}
.homepage-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
