body {
  background-image: url("./pages/images/background6.png");
  background-size: contain;
  
}

/*Navbar*/

.navbar {
  background-color: white;
  font-family: 'Neucha', cursive;
}
/*About*/
.about {
  margin-top: 70px;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem white);
  height: 400px;
  border-radius: 15px;
  font-family: 'Neucha', cursive;
}
.about h1 {
  color: #EE88BB;
  

}
.about h5{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

/*AllCatsPage*/

.cat-names img {
  border-radius: 15px;
  margin-top: 30px;
}
.cat-names {
  background-color: white;
  border: 1px solid black;
  margin-left: 350px;
  margin-right: 350px;
  filter: drop-shadow(0 0 0.75rem white);
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-family: 'Neucha', cursive;
}
.delete-button {
  padding: 2px 3px;
  border-radius: 15px;
  border: 1px solid red;
  filter: drop-shadow(0 0 0.75rem red);
}

/*CatDetails*/
.cat-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  padding-bottom: 30px;
  font-family: 'Neucha', cursive;
}
.cat-details img {
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 100px;
  border: 2px solid white;
  filter: drop-shadow(0 0 0.75rem #0cdbf2);
}
.cat-details h1 {
  margin-top: 60px;
  text-align: left;
  margin-left: 100px;
}
.cat-details p {
  text-align: left;

  margin-left: 100px;
  margin-right: 100px;
}
.cat-details h3 {
  text-align: left;
  margin-left: 100px;
}
.buy-button {
  margin-top: 30px;
  color: white;
  background-color: #0cdbf2;
  border: 1px solid #0cdbf2;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Neucha', cursive;
}
.buy-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
/*Shopping Cart*/
.shoppingCart {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem white);
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  font-family: 'Neucha', cursive;
}
.cart-h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.cart-container {
  margin-top: 50px;
  
}
.cart-container h3 {
  padding-top: 20px;
}
.cart-image {
  border: 1px solid white;
  border-radius: 5px;
}
.payment {
  padding-top: 20px;
  padding-left: 20px;
  margin: 20px;
  padding-right: 20px;
  background-color: #e0f9f4;
  border-radius: 10px;
}
.payment h4{
  margin-top: 30px;
}
.payment button{
  margin-bottom: 30px;
  font-family: 'Neucha', cursive;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
