body {
  background: linear-gradient(
    94.3deg,
    rgba(104, 213, 253, 0.63) 0.7%,
    rgba(169, 236, 91, 0.79) 18.6%,
    rgba(253, 246, 116, 0.98) 39.1%,
    rgba(255, 164, 120, 0.92) 63%,
    rgba(250, 115, 188, 0.89) 85.3%,
    rgb(97, 176, 242) 108.2%
  );
}

/*Navbar*/
.navbar {
  background-color: white;
}
/*About*/

.about h1 {
  margin-top: 30px;
}
.cruella-photo {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*AllCatsPage*/

.cat-names img {
  border-radius: 15px;
  margin-top: 30px;
}
.cat-names {
  background-color: white;
  border: 1px solid black;
  margin-left: 350px;
  margin-right: 350px;
  filter: drop-shadow(0 0 0.75rem black);
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*CatDetails*/
.cat-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  padding-bottom: 30px;
}
.cat-details img {
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 100px;
  border: 2px solid white;
  filter: drop-shadow(0 0 0.75rem #0cdbf2);
}
.cat-details h1 {
  margin-top: 60px;
  text-align: left;
  margin-left: 100px;
}
.cat-details p {
  text-align: left;

  margin-left: 100px;
  margin-right: 100px;
}
.cat-details h3{
  text-align: left;
  margin-left: 100px;
}
.buy-button {
  margin-top: 30px;
  color: white;
  background-color: #0cdbf2;
  border: 1px solid #0cdbf2;
  border-radius: 15px;
  padding: 10px 25px;
  
  
}
.buy-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
